<h2>Payment Info</h2>

{{input name='cardNumber' value=model.cardNumber placeholder='Card number'}}
{{input name='cardVerification' value=model.cardVerification placeholder='CVC' maxlength=4}}
{{input name='cardExpiration' value=model.cardExpiration placeholder='Card Expiration: XX/XXXX'}}

<br><br>

{{#link-to 'checkout.shipping-info'}}Previous{{/link-to}}
<button {{action 'submitForm'}}>Buy!</button>
