<h2>Personal Info</h2>

{{input name='name' value=model.name placeholder='Enter your name'}}
{{input name='email' value=model.email placeholder='Enter your email'}}

<br><br>

{{#link-to 'checkout.shipping-info'}}Next{{/link-to}}
